{% block _Company_gus_nip_widget %}
    <div class="ea-gus"
         data-gus-form
         data-gus-url="{{ path('app_company_gus_data') }}">

        <div class="input-group">
            {{ block('form_widget_simple') }}

            <button type="button"
                    class="btn ea-gus__btn"
                    data-gus-button>
                <span class="ea-gus__icon">🔎</span>
                <span>{% trans %}gusApi.fetchDataFromGus.title{% endtrans %}</span>
                <span class="spinner-border spinner-border-sm ea-gus__spinner d-none"
                      data-gus-spinner></span>
            </button>

            <button type="button"
                    class="btn ea-gus__btn ea-gus__btn--danger"
                    data-gus-clear>
                🧹
            </button>
        </div>

        <div class="ea-gus__meta">
            <div class="form-text ea-gus__hint">
                {% trans %}gusApi.fetchDataFromGus.hint{% endtrans %}
            </div>

            <div class="ea-gus__status d-none" data-gus-status></div>
        </div>
    </div>
{% endblock %}